body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
}

.login-link {
  display: block;
  text-align: center;
  color: #1877f2;
  text-decoration: none;
  margin-top: 10px;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 15px;
}

.register-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

label {
  display: block;
  margin-bottom: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #1877f2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #166fe5;
}

a {
  display: block;
  text-align: center;
  color: #1877f2;
  text-decoration: none;
  margin-top: 10px;
}

.separator {
  border-bottom: 1px solid #ddd;
  margin: 20px 0;
}
